@{
    ViewData["Title"] = "Div";
}

<div class="text-center">
    <h1>Operação Matemática Dividir</h1>
    <p>Utilize o formulário abaixo para dividir dois números.</p><br>

    <form action="DivOperation" method="post">
        <label for="numberOne">Número 1</label>
        <p><input type="text" name="numberOne" id="numberOne" required></p>
        <label for="numberTwo">Número 2</label>
        <p><input type="text" name="numberTwo" id="numberTwo" required></p>
        <button type="submit">Enviar</button>
    </form>
</div> 