@{
    ViewData["Title"] = "Formulary";
}

<div class="text-center">
    <h1>Formulário de Cadastro</h1>
    <p>Utilize o formulário abaixo para realizar a sua inscrição.</p><br>

    <form action="FormData" method="post">
        <label for="name">Nome Completo</label>
        <p><input type="text" name="name" id="name" pattern="^[^-\s][a-zA-ZÀ-ú ]{2,250}$" required></p>
        <label for="email">E-mail</label>
        <p><input type="email" name="email" id="email" required></p>
        <label for="password">Senha</label>
        <p><input type="password" name="password" id="password" required></p>
        <button type="submit">Enviar</button>
    </form>
</div>